@import 'build/css/_variables.css';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}


.cta__primary-button{
    font-family:   var(--typography-des-font-family-text);
    color: var(--colours-primary-text);
    background-color: var(--colours-primary-background);
    border-radius: var(--border-radius-border-radius-xl);
    padding: var(--space-margin-md);
    border:none;
}