@import 'build/css/_variables.css';
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

h1 {
  font-family: var(--typography-des-font-family-title);
  font-size: var(--typography-des-title-font-size-xl-max);
  font-weight: var(--typography-font-weight-medium);
  line-height: var(--typography-line-height-xl);
}

.cta__primary-button {
  font-family: var(--typography-des-font-family-text);
  font-size: var(--typography-des-text-font-size-sm-min);
  color: var(--colours-primary-text);
  background-color: var(--colours-primary-background);
  border-radius: var(--border-radius-border-radius-xl);
  padding: var(--space-margin-md);
  border: none;
}

.cta__secondary-button {
  font-family: var(--typography-des-font-family-text);
  font-size: var(--typography-des-text-font-size-sm-min);
  color: var(--colours-primary-text);
  background-color: var(--colours-secondary-background);
  border-radius: var(--border-radius-border-radius-xl);
  padding: var(--space-margin-md);
  border: none;
}

.margin-50 {
  margin-top: 50px;
}